<div class="header clearfix">
</div>
<div class="container" id="content">

</div>
<div class="container" id="details">
	<h1>Cart</h1>
	<div class="container" id="cartable">
		<table class="table">
			<thead>
				<tr>
					<th>菜名</th>
					<th>单价</th>
					<th>份数</th>
					<th>小计</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='c in cart'>
					<td>{{c.name}}</td>
					<td>${{c.price}}</td>
					<td><input type="number" name="input" value="{{c.qty}}" min="0" max="99" ng-model="count" required>
						</td>
					<td>${{c.price*c.qty}}</td>
					<td>
						<a href="/#/cart/delete/{{c._id}}"><input type="button" value="Delete" class="btn btn-xs btn-danger"/></a>
					</td>
				</tr>
				
			</tbody>
		</table>
		<button class="btn btn-primary">Confirmation</button>
	</div>

</div>

<script type="text/javascript">
	
</script>

