
    <nav class="navbar navbar-custom" role="navigation" id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">EAT24</a>
            </div>
        <ul class="nav navbar-nav navbar-right">
            <li>{{state}}yy</li>
            <li>{{temp}}xx</li>
            <li ng-hide="state==0"><a href="/#/Cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li ng-hide="state==0" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/UserCenter"><span class="glyphicon glyphicon-user"></span>       个人中心</a></li>
                    <li><a href="#/UserCenter/order"><span class="glyphicon glyphicon-list-alt"></span>     历史订单</a></li>
                    <li><a href="#/UserCenter/security"><span class="glyphicon glyphicon-cog"></span>       修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="#/"><span class="glyphicon glyphicon-log-out"></span>      退出登录</a></li>
                </ul>
            <li ng-hide="state==1"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> 登录/注册</a></li>
        </ul>
        </div>
    </nav>
    <div class="container" id="welcome">
        <div class="container" id="homestart">
            <div class="container">
                <p>Begin your order right now!</p>
            </div>
            <div class="container">
                <button type="button" class="btn btn-primary btn-lg" id="button1" ng-click="jump()">Order</button>
            </div>
        </div>
    </div>
 