
<h1>Sign Up</h1>

<form>
    <div class="form-group">
        <label>username</label>		
        <input class="form-control" ng-model="user.username"></input>
    </div>
    <div class="form-group">
        <label>password</label>		
        <input class="form-control" ng-model="user.password"></input>
    </div>
    <div class="form-group">
        <label>name</label>		
        <input class="form-control" ng-model="user.name"></input>
    </div>
    <div class="form-group">
        <label>phone</label>		
        <input class="form-control" ng-model="user.phone"></input>
    </div>
    <div class="form-group">
        <label>email</label>		
        <input class="form-control" ng-model="user.email"></input>
    </div>
    <div class="form-group">
        <label>avatar</label>		
        <input class="form-control" ng-model="user.avatar"></input>
    </div>
    <div class="form-group">
        <label>address</label>
        <textarea class="form-control" ng-model="user.address"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>	
