<nav class="navbar navbar-custom" role="navigation" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">EAT24</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="auth==0" style="font-size: 25px;">Hi,{{user}}</li>
            <!-- <li>登录状态：{{auth}}</li> -->
            <li ng-hide="auth==0||auth==2"><a href="/#/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li ng-hide="auth==0" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/#/editinfo"><span class="glyphicon glyphicon-user"></span> User Center</a></li>
                    <li ng-hide="auth==2"><a href="/#/orderhistory"><span class="glyphicon glyphicon-list-alt"></span> Order History</a></li>
                    <li><a href="#/editpassword"><span class="glyphicon glyphicon-cog"></span> Security</a></li>
                    <li class="divider"></li>
                    <li><a href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            <li ng-hide="auth==1||auth==2"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> LogIn/SignUp</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="content">

</div>
<div class="container" id="details">
    <div class="container" id="editmenu">
        <h1>Order Summary</h1>
        <br>
        <div class="container">
            <table class="table table-custom" >
                <tr>
                    <th>Dish Name</th>
                    <th>Quantity</th>
                </tr>
                <tr ng-repeat='item in cart'>
                    <td>{{item.name}}</td>
                    <td>{{item.qty}}</td>
                </tr>
            </table>
        </div>
        <div class="container" id="row-cart">
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <p>Total Price：<span>${{totalprice}}</span></p>
                </div>
            </div>
        </div>
        <hr>
        <h1>CheckOut</h1>
        <br>
        <form  class="form">
            <div class="form-group input-group-lg">
                <input class="form-control" type="text" placeholder="Name on card">
            </div>
            <div class="form-group input-group-lg">
                <input class="form-control" type="text" placeholder="Card number">
            </div>
            <div class="form-group input-group-lg">
                <input class="form-control" type="text" placeholder="City">
            </div>
            <div class="form-group input-group-lg">
                <input class="form-control" type="text" placeholder="State">
            </div>
            <div class="form-group input-group-lg">
                <input class="form-control" type="text" placeholder="Zip">
            </div>
            <div class="form-group input-group-lg">
                <input class="form-control" type="password" placeholder="CSV">
            </div>
            <div class="form-group input-group-lg">
                <a ng-click="save(cart)" class="btn btn-success btn-block btn-lg">Pay</a>
            </div>
        </form>
    </div>
</div>
