body {
	width: 100%;
	min-width: 1080px;
    background-color: #eae9e5;
}

a {
  color: #00B7FF;
}

/*自由定义导航栏模式_开始*/
#navbar{
	min-height: 60px;
	margin-bottom: 0;
	border-radius:0;
}
.navbar-custom { 
    background-color:#ed153e;
    color:#ffffff;
    border-radius:0;
    font-size: 20px;
    font-family: Sans-serif;
}

.navbar-custom .navbar-header a{
	font-size: 25px;
    font-family: Sans-serif;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    font-size: 20px;
    font-family: Sans-serif;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #ed153e;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#ed153e;
}
.navbar-custom .navbar-nav .dropdown-menu  {
	opacity: 0.9;
	margin-top: 8px;
	margin-right: 5px;
	border: 1px solid #d01337;
    background-color: #ed153e;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
	font-size: 20px;
    font-family: Sans-serif;
    color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #ed153e;
}
/*自由定义导航栏模式_结束*/



/*-----------------------------------------Cart页面css设定_开始-------------------------------*/
/*自由定义购物车表格模式_开始*/
.table-custom{
	font-size: 20px;
    font-family: Sans-serif;
}
/*自由定义购物车表格模式_结束*/
/*自由定义购物车row模式_开始*/
#row-cart .row{
	border: none;
	text-align: center;
}
#row-cart .row p{
	margin-left: 20px;
	text-align: center;
	font-size: 25px;
    font-family: Sans-serif;
}
#cartbutton .btn{
	display: block;
	float: right;
	margin-right: 10%;
	margin-bottom: 50px;
	width: 200px;
	background-color: #ed153e;
	border-color: #ed153e;
	outline: none;;
	font-family: Sans-serif;
	font-size: 20px;
}
#cartbutton .btn:hover{
	background-color: #d01337;
	border-color: #d01337;
}
/*自由定义购物车row模式_结束*/
/*-----------------------------------------Cart页面css设定_结束-------------------------------*/

/*-----------------------------------------LogOut页面css设定_开始-----------------------------*/
#quit{
	display: block;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: rgba(255,255,255,0.2);
}
#quit .container{
	width: 80%;
	margin: auto;
	background-color: rgba(255,255,255,0.4);
}
#quit button{
	width: 120px;
	margin-right: 40px;
	margin-left: 40px;
	background-color: #ed153e;
	border-color: #ed153e;
	outline: none;;
	font-family: Sans-serif;
	font-size: 20px;width: 120px;
}




/*-----------------------------------------LogOut页面css设定_结束-----------------------------*/

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
.header{
	background-color: #ed153e;
	padding:15px;
}
.footer{
	background-color: #2e2426;
	padding:15px;
}
#login{
	float: right;
}
#welcome {
	width: 100%;
	height: 884px;
	margin-top:0;
	background-position: center 0; 
	background-repeat: no-repeat; 
	background-attachment:fixed; 
	background-size: cover; 
	background-image: url("../images/home1.jpg");
}
#homestart{
	color: white;
	font-family: Sans-serif;
	font-size: 40px;
	text-align: center;
	width: 100%;
	position: relative;
	top:300px;
	/*background-color: black;*/
}
#button1{
	margin: 30px;
	background-color: #ed153e;
	border-color: #ed153e;
	outline: none;
	font-family: Sans-serif;
	font-size: 30px;
}
#button1:hover{
	background-color: #d01337;
	border-color: #d01337;
}
#content {
	width: 100%;
	height: 220px;
	background-position: center 0; 
	background-repeat: no-repeat; 
	background-attachment:fixed; 
	background-size: cover; 
	background-image: url("../images/home1.jpg");
}
#navigation{
	width: 100%;
	position: relative;
	top:255px;
	/*background-color: black;*/
}
.nav-tabs{
	font-family: Sans-serif;
	font-size: 30px;
}
.nav-tabs a{
	color: white;
}

/*以下是detail页面的css布局*/
#details{
	width: 90%;
	height: 80%;
	margin-top: 50px;
	background-color: white;
}

#details h1{
	margin: 20px;
	font-family: Sans-serif;
	color: #ed153e;
}
#leftnav{
	float: left;
	display:inline;
	width: 15%;
	height: 100%;
	/*background-color: pink;*/
	font-size: 20px;
	font-family: Sans-serif;
	border: 1px solid #ed153e;
	border-style: groove;
	border-radius:25px;
}
#searchbox{
	margin-top: 30px;
	margin-left: 22px;
	margin-bottom: 0px;
	font-size: 18px;
	font-family: Sans-serif;
}
#leftnav .checkbox-custom{
	margin-left: 50px;
}
#leftnav h2{
	margin-left: 45px;
	margin-bottom: 15px;
	font-size: 25px;
	font-family: Sans-serif;
}
#leftnav .btn{
	width: 150px;
	margin-left: 40px;
	margin-bottom: 20px;
	/*background-color: pink;*/
}
#menu{
	float: left;
	display: inline;
	width: 70%;
	margin-left: 5%;
	/*margin-bottom: 50px;*/
	height: 850px;
	/*background-color: pink;*/
}
#menu .thumbnail{
	height: 380px;
}
#menu .thumbnail:hover{
	border: 5px solid #ed153e;
}
.row{
	padding: 20px;
	border: 1px solid #ed153e;
	border-style: groove;
	border-radius:25px;
	margin-bottom: 50px;
}

/*Login 界面css布局*/
#user {
	width: 100%;
	height: 884px;
	background-position: center 0; 
	background-repeat: no-repeat; 
	background-attachment:fixed; 
	background-size: cover; 
	background-image: url("../images/home1.jpg");
}
#register{
	color: white;
	font-family: Sans-serif;
	font-size: 40px;
	text-align: center;
	width: 90%;
	position: relative;
	top:200px;
	background-color: #2e2426;
	/*opacity: 0.3;*/
	background-color:rgba(0,0,0,0.5);
	/*border: 3px solid #ed153e;*/
}
#register p{
	margin: 20px;
}
#register input{
	opacity: 0.5;
	transition:border linear .2s,box-shadow linear .5s;
	-moz-transition:border linear .2s,-moz-box-shadow linear .5s;
	-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
	outline:none;border-color:rgba(255,255,255,1);
	box-shadow:0 0 10px rgba(255,255,255,0.8);
	-moz-box-shadow:0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow:0 0 10px rgba(255,255,255,0.8);
}
#register input:focus{
	opacity: 1;
	box-shadow:none;
	transition:none;
}
#olduser{
	font-size: 30px;
	width: 35%;
	float: left;
	display: inline;
	margin-left:10%;
	margin-top: 50px;
	margin-bottom: 70px;
	/*border:1px solid grey;*/
	/*background-color: black;*/
}
#olduser p{
	font-size: 14px;
	color: #00B7FF;
}
#newuser{
	font-size: 30px;
	width: 35%;
	float: left;
	display: inline;
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 70px;
	/*border:1px solid grey;*/
	/*background-color: grey;*/
}
#regform{
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 16px;
	width: 600px;
}
#regform p{
	margin: 20px;
}
#Signup{
	font-size: 20px;
	width: 200px;
}

/*以下是用户中心布局*/
#navleft{
	font-size: 20px;
	font-family: Sans-serif;
	float: left;
	display: inline;
	width: 250px;
	height: 100%;
	margin-right: -250px;
	background-color: white;
}
.nav-pills{
	font-family: Sans-serif;
	font-size: 20px;
	text-align: center;
}
.nav-pills a{
	color: #ed153e;
}
.nav-pills > li >a:hover{
	color: #ed153e;
}
.nav-pills > li > a{
	background-color: #ed153e;
	color: white;
}
#ccontent{
	width: 80%;
	height:80%;
	float: left;
	margin-left: 20%;
	margin-bottom: 50px;
	background-color: white;
	border: 1px solid #ed153e;
	border-radius:10px;
	font-size: 20px;
}
#ccontent label{
	text-align: right;
}
#ccontent .row{
	display: inline;
	margin:auto;
	border: none;
}
#ccontent .form-password{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 60%;
}
#userifo{
	display: block;
	width: 80%;
	margin-top: 50px;
	margin-left: 5%;
}
#userifo .row{
	border: none;
}
#userifo img{
	width: 90%;
	min-width: 150px;
}
#showava{
	float: left;
	display: inline;
}
#showifo {
	float: left;
	display: inline;
	background-color: white;
	width: 80%;
}
#editbn{
	float: right;
	margin-right:20%;
	margin-top: 10px;
}
#editbn button{
	float: left;
	display: inline;
	width: 120px;
	margin-left: 70px;
	background-color: #ed153e;
	border-color: #ed153e;
	outline: none;
	font-family: Sans-serif;
}
#editbn button:hover{
	background-color: #d01337;
	border-color: #d01337;
}

/*AddNewDish页面CSS布局-----------------------开始------------------------------------*/
.se{  
    width:300px;  
    height:36px;
    margin-left:41%;   
}
#editmenu{
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
	height: 100%;
	border: 1px solid #ed153e;
	border-style: groove;
	border-radius:25px;
}  
#editmenu h1{
	margin-left: 0;
	margin-top: 50px;
}
#editmenu form{
	margin-left: 15%;
	margin-bottom: 50px;
}
#editmenu .form-group{
	width: 80%;
	margin: 20px;
	font-size: 20px;
}
#passbutton{
	display: block;
	margin: auto;
	width: 200px;
	background-color: #ed153e;
	border-color: #ed153e;
	outline: none;;
	font-family: Sans-serif;
	font-size: 20px;
}
#passbutton:hover{
	background-color: #d01337;
	border-color: #d01337;
}